# $~brightcove_video, ~$

<div class="video-wrapper">
  <object id="flashObj" width="645" height="345" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="https://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,47,0">
    <param name="movie" value="https://secure.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" />
    <param name="bgcolor" value="#FFFFFF" />
    <param name="flashVars" value="videoId=<%= body.strip %>&playerID=3608340927001&playerKey=AQ~~,AAADSDtymlk~,HgUAk1SkaoHN7jMCiJiPFOJjIpX50s8e&domain=embed&dynamicStreaming=true&secureConnections=true&secureHTMLConnections=true" />
    <param name="base" value="https://sadmin.brightcove.com" />
    <param name="seamlesstabbing" value="false" />
    <param name="allowFullScreen" value="true" />
    <param name="swLiveConnect" value="true" />
    <param name="allowScriptAccess" value="always" />
    <param name="secureConnections" value="true" />
    <param name="secureHTMLConnections" value="true" />
    <embed src="https://secure.brightcove.com/services/viewer/federated_f9?isVid=1&isUI=1" bgcolor="#FFFFFF" flashVars="videoId=<%= body.strip %>&playerID=3608340927001&playerKey=AQ~~,AAADSDtymlk~,HgUAk1SkaoHN7jMCiJiPFOJjIpX50s8e&domain=embed&dynamicStreaming=true&secureConnections=true&secureHTMLConnections=true" base="https://sadmin.brightcove.com" name="flashObj" width="100%" height="100%" seamlesstabbing="false" type="application/x-shockwave-flash" allowFullScreen="true" allowScriptAccess="always" swLiveConnect="true" pluginspage="https://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash" secureConnections="true" secureHTMLConnections="true">
    </embed>
  </object>
</div>
