# $~tool-callout, ~$

<div class='callout callout--tool'>
  <span class="callout__icon">
    <svg class="callout__tool-icon" role="presentation" viewBox="0 0 100 100">
      <use xlink:href="#svg-icon--tool"></use>
    </svg>
  </span>
  <%= Mastalk::Document.new(body.strip).to_html(auto_id: false) %>
</div>
